{% extends 'authentication/header.html' %}


{% block content %}


    <!-- <a style="float: right; margin-bottom: 450px;"  href="#" onClick="document.getElementById('logoutform').submit()">
        <button style="background-color:#ee6e73; color:rgb(255, 255, 255)" class="btn btn-outline-info" type="submit">logout</button>
    </a>
    <form id="logoutform" method="POST" action="{% url 'authentication:logout' %}">
        {% csrf_token %} -->

<div class="container">
  <h1>This is the main page</h1>
 </div>
 
{% endblock %}
